<!-- <mat-drawer-container class="example-container" autosize>
        <mat-drawer #drawer class="example-sidenav" mode="side">
          <p (click)="drawer.toggle()">Auto-resizing sidenav</p>
          <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
          <button (click)="showFiller = !showFiller" mat-raised-button>
            Toggle extra text
          </button>
          <p> <a href="javascript:void(0)" routerLink="/employee/view">Employees</a></p>

        </mat-drawer>
      
        <div class="example-sidenav-content">
          <button type="button" mat-button (click)="drawer.toggle()">
            Toggle sidenav
          </button>
        </div>
      
      </mat-drawer-container> -->
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="isHandset ? 'dialog' : 'navigation'"
    [mode]="(isHandset | async)!.matches ? 'over' : 'side'" [opened]="!(isHandset | async)!.matches">
    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Dashboard</a>
      <a mat-list-item routerLink="/employee/view">Employees</a>
      <a mat-list-item href="/third-page">Third Page</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <app-navbar (voted)="displayInput($event)"></app-navbar>
    <div class="main">
      <div class="container-fluid">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
