
    <mat-toolbar color="primary">
      <span class="fill-remaining-space"></span>
      <div fxLayout="row" fxShow="false" fxShow.gt-sm>
        <button mat-button routerLink="/products">Products</button>
        <button mat-button routerLink="/dashboard">Dashboard</button>
      </div>
    </mat-toolbar>
    <mat-menu x-position="before" #menu="matMenu">
      <button mat-menu-item routerLink="/products">Products</button>
      <button mat-menu-item routerLink="/dashboard">Dashboard</button>
      <!--<button mat-menu-item>Help</button>-->
    </mat-menu>